<div class="header">
  <div class="container">
    <div class="logo-container">
      <img src="assets/denvaklogo.png" alt="Denvak Logo" class="logo" />
    </div>
    <div class="buttons">
      <div class="button">Appointments</div>
      <div class="button">Records</div>
      <div class="button">contact</div>
      <button class="login button">Login</button>
      <button class="login button">Signup</button>
    </div>
  </div>
</div>
<div>
  <div class="box">
    <div class="box-title">Denvak Patient Portal</div>
    <div class="box-tag">Book your appointment online</div>
    <div class="city-line">
      <select class="city-select">
        <option value="" disabled selected>Select your city</option>
        <option value="new-york">Hyderabad</option>
        <option value="los-angeles">Bangalore</option>
        <option value="chicago">Chennai</option>
        <option value="houston">Bombay</option>
        <option value="phoenix">Delhi</option>
      </select>
      <select class="city-select">
        <option value="" disabled selected>Select your Location</option>
        <option value="new-york">Khammam</option>
        <option value="los-angeles">Somajiguda</option>
        <option value="chicago">HITECH City</option>
        <option value="houston">Lakadi ka pul</option>
        <option value="phoenix">Malakpet</option>
      </select>
      <select class="city-select">
        <option value="" disabled selected>select your cilnic</option>
        <option value="new-york">Mamata</option>
        <option value="los-angeles">Saritha</option>
        <option value="chicago">Yashoda</option>
        <option value="houston">KIMS</option>
        <option value="phoenix">Apollo</option>
      </select>
      <input class="search-bar" type="text" placeholder="Search for Doctor" />
    </div>
    <button class="book">Book an appointment</button>
  </div>
  <div class="doc-near">
    <p class="near">Doctors Near you</p>
    <p class="near1">Book an appointment with dental specialists</p>
    <div class="docs-container">
      <div class="doc-item">
        <img src="assets/doctor1.jpeg" class="doclogo" />
        <p class="doctext">Orthodontic</p>
      </div>
      <div class="doc-item">
        <img src="assets/doctor2.jpeg" class="doclogo" />
        <p class="doctext">Endodontics</p>
      </div>
      <div class="doc-item">
        <img src="assets/doctor3.jpeg" class="doclogo" />
        <p class="doctext">Implantology</p>
      </div>
      <div class="doc-item">
        <img src="assets/doctor4.jpeg" class="doclogo" />
        <p class="doctext">General Dentistry</p>
      </div>
      <div class="doc-item">
        <img src="assets/doctor5.jpeg" class="doclogo" />
        <p class="doctext">Prosthodontics</p>
      </div>
      <div class="doc-item">
        <img src="assets/doctor6.jpeg" class="doclogo" />
        <p class="doctext">Oral Pathology</p>
      </div>
      <div class="doc-item">
        <img src="assets/doctor7.jpeg" class="doclogo" />
        <p class="doctext">Community Dentistry</p>
      </div>
    </div>
  </div>
  <div>
    <p class="why">Why use this</p>
    <div class="whyy">
      <div class="why1">Book an Appointment</div>
      <div class="des1">
        Allows patients schedule dental visits at their convenience through a
        web or mobile application.
      </div>
    </div>
    <div class="whyy">
      <div class="why1">Search doctors near you</div>
      <div class="des1">
        Helps users find and compare nearby dental professionals based on
        location,rating,and specialties.
      </div>
    </div>
    <div class="whyy">
      <div class="why1">Upload medical records</div>
      <div class="des1">
        Enables patient to securely share their medical history and documents
        with their healthcare provider online.
      </div>
    </div>
  </div>
  <div class="book-center">
    <button class="book1">know more</button>
  </div>
  <div>
    <div class="picright">
      <div class="contact-us">
        <p class="why">Contact Us</p>
        <div class="cu1">
          <form action=" " method="GET" class="cu2">
            <p>Patient Name</p>
            <input type="text" placeholder="Name of the patient" />
          </form>
          <form action=" " method="GET" class="cu2">
            <p>Phone Number</p>
            <input type="text" placeholder="mobile number" />
          </form>
          <form action=" " method="GET" class="cu2">
            <p>Email</p>
            <input type="text" placeholder="enter you email" />
          </form>
          <form action=" " method="GET" class="cu3">
            <p>Description</p>
            <input type="text" placeholder="description about clinic....." />
          </form>
        </div>
        <div class="book-center">
          <button class="book1">Send request</button>
        </div>
      </div>
      <img src="assets/contact.png" class="contactpic" />
    </div>
  </div>
  <div>
    <div class="bottom-box">
      <div class="para">
        <p class="para3">For patients</p>
        <p class="para4">Ask free health questions</p>
        <p class="para4">Search for doctors</p>
        <p class="para4">Search for hospitals</p>
        <p class="para4">Book diagnostic tests</p>
        <p class="para4">Consult a doctor</p>
      </div>
      <div class="para1">
        <p class="para3">For Doctors</p>
        <p class="para4">Profile</p>
        <p class="para4">Add clinic</p>
        <p class="para4">Update details</p>
        <p class="para4">Contact Us</p>
        <p class="para4">Take subscription</p>
      </div>
      <div class="para2">
        <p class="para3">Contact Us</p>
        <p class="para4">Khammam</p>
        <p class="para4">Telangana</p>
        <p class="para4">Near bypass road</p>
        <p class="para4">+91 7871897197</p>
        <p class="para4">abc&#64;gmail.com</p>
      </div>
    </div>
  </div>
</div>
